# CS105 Final Project

## 1.0 Library imports

In [2]:
import pandas as pd
import numpy as np
import json
import gzip

## 2.0 Meet and greet the data

### 2.1 Load in data
- Call function parse(path)
- Call funcation getDF(path)
- Return the dataframe in its correct form
- A dataset should be split into two forms
    - One will contain our main dataframe which will not be touched unless for comparisons with our modified df
    - The second will contain our changed dataframe

In [3]:

def parse(path):
  """ This function will parse the json file and returns the memory of all the rows

  Args:
      path (string): path directory of where your data is saved on your computer

  Yields:
      object: json
  """
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

In [4]:
def getDF(path):
    """ This function will go through each row in the parse function and get the data into a pandas format

    Args:
        path (string): path directory of where your data is saved on your computer

    Returns:
       dataframe: main dataframe that holds our data
    """
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

In [5]:
# df = getDF(r'C:\Users\migue\Downloads\Cell_Phones_and_Accessories_5.json.gz')
# data_copy = getDF(r'C:\Users\migue\Downloads\Cell_Phones_and_Accessories_5.json.gz')

df = getDF('Cell_Phones_and_Accessories_5.json.gz')
data_copy = getDF('Cell_Phones_and_Accessories_5.json.gz')

### 2.2 Get familiar with the data 
- Get info from dataframe
- Get a random sample
- Check the length of the df
- Check dtypes

In [6]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1128437 entries, 0 to 1128436
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   overall         1128437 non-null  float64
 1   verified        1128437 non-null  bool
 2   reviewTime      1128437 non-null  object
 3   reviewerID      1128437 non-null  object
 4   asin            1128437 non-null  object
 5   style           605241 non-null   object
 6   reviewerName    1128302 non-null  object
 7   reviewText      1127672 non-null  object
 8   summary         1127920 non-null  object
 9   unixReviewTime  1128437 non-null  int64
 10  vote            92034 non-null    object
 11  image           27107 non-null    object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 104.4+ MB

In [7]:
data_copy.sample(1)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
393080,5.0,True,"12 16, 2014",A2FI4CSBZGNM16,B00ITILPZ4,NaN,Smokey,Very sturdy material,Five Stars,1418688000,NaN,NaN

In [8]:
print("The total length of the dataset: ", len(data_copy))

The total length of the dataset:  1128437

In [9]:
print("The data types of each respective column: ")
print(data_copy.dtypes)

The data types of each respective column:
overall           float64
verified             bool
reviewTime         object
reviewerID         object
asin               object
style              object
reviewerName       object
reviewText         object
summary            object
unixReviewTime      int64
vote               object
image              object
dtype: object

In [10]:
print("The shape of the dataset: ", data_copy.shape)

The shape of the dataset:  (1128437, 12)

In [11]:
print("Statistical analysis of the numerical values in the dataset: ")
data_copy.describe().transpose()

Statistical analysis of the numerical values in the dataset:

,count,mean,std,min,25%,50%,75%,max
overall,1128437.0,4.221383e+00,1.231917e+00,1.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
unixReviewTime,1128437.0,1.440400e+09,4.569215e+07,1.035331e+09,1.416355e+09,1.444349e+09,1.470442e+09,1.538438e+09

## 3.0 The 4 C's of data cleaning: completing, correction, creating, and converting

### 3.1 Completing 
- Completing missing information

In [ ]:
data_copy.isnull().sum()

In [ ]:
def get_nan_ocols(df, nan_percent=0.7):
    """ This function will determine what columns to drop based on our threshold

    Args:
        df (pandas df): dataframe that holds our data
        nan_percent (float, optional): Defaults to 0.7.

    Returns:
        list: list of columns to drop based on our threshold
    """
    threshold = len(df.index) * nan_percent
    return [c for c in df.columns if df[c].isnull().sum() >= threshold]

In [ ]:
cols_to_del = get_nan_ocols(data_copy, .7)

In [ ]:
cols_to_del

In [ ]:
data_copy = data_copy.drop(['vote', 'image'], axis=1)

In [ ]:
data_copy.sample(1)

### 3.2 Correction
- Correcting values and outliers
- We could have possible outliers in any of the numeric columns

### 3.4 Converting 
- Converting fields to the correct format for calculations and presentation

### 3.3 Feature engineering
- Creating new features for analysis

## 4.0 Build model

## 5.0 Evaluate model

## 6.0 Predictions

## 7.0 If predictions suck, hyperparameter tune

## 8.0 Repeat steps 4-7 until satisfied