# CS105 Final Project

## 1.0 Library imports

In [18]:
import pandas as pd
import numpy as np
import json
import gzip

## 2.0 Meet and greet the data

### 2.1 Load in data
- Call function parse(path)
- Call funcation getDF(path)
- Return the dataframe in its correct form
- A dataset should be split into two forms
    - One will contain our main dataframe which will not be touched unless for comparisons with our modified df
    - The second will contain our changed dataframe

In [19]:

def parse(path):
  """ This function will parse the json file and returns the memory of all the rows

  Args:
      path (string): path directory of where your data is saved on your computer

  Yields:
      object: json
  """
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

In [20]:
def getDF(path):
    """ This function will go through each row in the parse function and get the data into a pandas format

    Args:
        path (string): path directory of where your data is saved on your computer

    Returns:
       dataframe: main dataframe that holds our data
    """
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

In [22]:
df = getDF(r'C:\Users\migue\Downloads\Cell_Phones_and_Accessories_5.json.gz')
data_copy = getDF(r'C:\Users\migue\Downloads\Cell_Phones_and_Accessories_5.json.gz')

### 2.2 Get familiar with the data 
- Get info from dataframe
- Get a random sample
- Check the length of the df
- Check dtypes

In [24]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1128437 entries, 0 to 1128436
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   overall         1128437 non-null  float64
 1   verified        1128437 non-null  bool
 2   reviewTime      1128437 non-null  object
 3   reviewerID      1128437 non-null  object
 4   asin            1128437 non-null  object
 5   style           605241 non-null   object
 6   reviewerName    1128302 non-null  object
 7   reviewText      1127672 non-null  object
 8   summary         1127920 non-null  object
 9   unixReviewTime  1128437 non-null  int64
 10  vote            92034 non-null    object
 11  image           27107 non-null    object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 104.4+ MB

In [23]:
data_copy.sample(1)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
407672,5.0,False,"11 23, 2014",A3KPP6WZU29WNZ,B00JECLMR0,{'Color:': ' black'},Kyle liang,GOOD,Five Stars,1416700800,NaN,NaN

In [48]:
data_copy.sample(1)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
20616,5.0,True,"06 26, 2011",A37Y0QAPBSEA61,B002CMEIWA,NaN,Angela Cox,I had been looking for a case for my Palm Pre!...,at last the right case for my Pre!,1309046400,NaN,NaN

In [25]:
print("The total length of the dataset: ", len(data_copy))

The total length of the dataset:  1128437

In [28]:
print("The data types of each respective column: ")
print(data_copy.dtypes)

The data types of each respective column:
overall           float64
verified             bool
reviewTime         object
reviewerID         object
asin               object
style              object
reviewerName       object
reviewText         object
summary            object
unixReviewTime      int64
vote               object
image              object
dtype: object

## 3.0 The 4 C's of data cleaning: correction, completing, creating, and converting

### 3.1 Correction
- Correcting values and outliers

### 3.2 Completing 
- Completing missing information

### 3.3 Feature engineering
- Creating new features for analysis

### 3.4 Converting 
- Converting fields to the correct format for calculations and presentation

## 4.0 Build model

## 5.0 Evaluate model

## 6.0 Predictions

## 7.0 If predictions suck, hyperparameter tune

## 8.0 Repeat steps 4-7 until satisfied